#dashboard {
  padding-top: 50px;
  $sidebar-size: 260px;
  #sidebar {
    float: left;
    position: fixed;
    height: 100%;
    @include box-sizing(border-box);
    padding: 10px;
    width: $sidebar-size;
    background-color: $gray;
    border-right: 2px solid $blue;
    input[type="text"] {
      @include box-sizing(border-box);
      width: 100%;
    }
    li {
      margin: 0;
      padding: 5px;
      @include ellipsis;
    }
    li:hover {
      color: white;
    }
    li.selected {
      color: white;
      background-color: $green;
    }
  }
  #content {
    margin-left: $sidebar-size;
    padding: 10px;
    ul {
      border-top: 1px solid #ddd;
      li {
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .post-sliver {
    @include user-select(none);
    @include ellipsis;
  }
  .post {
    max-width: 720px;
    min-width: 360px;
    padding: 40px;
    overflow: hidden;
    border: 2px solid $blue;
    @include border-radius(16px);
    margin: 5px auto;
    background: white;

  }
  .post-header {
    margin-bottom: 40px;
  }
  .post-title {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    a {
      text-decoration: none;
    }
  }
  .post-author {
    font-style: italic;
  }
  .post-content {
    & > img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 20px;
    }
  }
}