#dashboard {
  $sidebar-size: 260px;
  #sidebar {
    float: left;
    position: fixed;
    @include box-sizing(border-box);
    padding: 10px;
    width: $sidebar-size;
    li.selected {
      color: blue;
    }
  }
  #content {
    border-left: 1px solid black;
    margin-left: $sidebar-size;
    padding: 10px;
    ul {
      border-top: 1px solid #ddd;
      li {
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}