<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <%# http://www.google.com/fonts/#UsePlace:use/Collection:Source+Code+Pro|Pathway+Gothic+One|Open+Sans:400italic,400 %>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Pathway+Gothic+One|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <h1>RSS READER</h1>
</div>
<%= yield %>

</body>
</html>
